<ul class="breadcrumb">
<a href="{{ path('msi_cmf_dashboard') }}"><i class="icon-home"></i></a>
<span class="divider">/</span>
{% for crumb in crumbs %}
    <li>
        {% if loop.index != 1 %}
            <span class="divider">/</span>
        {% endif %}
        {% if crumb.path %}
            <a href="{{ crumb.path }}">{{ crumb.label }}</a>
        {% else %}
            {{ crumb.label }}
        {% endif %}
    </li>
{% endfor %}
</ul>
